<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>

<h2>Thank you <%= username %>> for completing feedback form!</h2>
<p>Your email - <%= email %></p>
<p>Your feedback - <%= feedback %></p>

</body>

</html>
